body, html
{
    color: white;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    font-size: 18px;
    max-height: 100%;
    max-width: 100%;
    font-family: monospace;
    height: 100%;
}

body *
{
    scrollbar-width: thin;
    scrollbar-color: #767676 transparent !important;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track-piece
{
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb
{
    background-color: #767676 !important;
}

#background
{
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    background-image: url("../img/bg.gif");
    opacity: 0.025;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

#main
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

#main_container
{
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas:
        "... topbar ... ..."
        "main main main sidebar"
            "main main main ..."
            "main main main ...";
    justify-items: center;
    height: 100%;
}

#game_container
{
    position: relative;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    height: fit-content;
}

#game
{
    position: relative;
    background-color: #2f3237b2;
    overflow: hidden;
}

#sidebar
{
    margin-left: 0.5rem;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#topbar
{
    margin-bottom: 1rem;
    grid-area: topbar;
    text-align: center;
    margin-top: 100px;
}

.block
{
    position: absolute;
    background-color: transparent;
    box-shadow: inset 0 0 1px #d6d6d631;
}

.piece_container
{
    position: absolute;
    z-index: 999;
    transform-origin: center
}

.piece
{
    position: relative;
}

.piece_block
{
    position: absolute;
    box-shadow: inset 0 0 2px rgb(15, 41, 102);
    border-radius: 25%;
}

.ghost .piece_block
{
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
}

.piece_type_stick, .piece_type_stick_2
{
    background: linear-gradient(rgb(53, 243, 243), #286b77);
}

.piece_type_periscope_right, .piece_type_periscope_right_2
{
    background: linear-gradient(rgb(255, 189, 66), #79520b);
}

.piece_type_periscope_left, .piece_type_periscope_left_2
{
    background: linear-gradient(rgb(69, 69, 255), #1e2468);
}

.piece_type_dog_right, .piece_type_dog_right_2
{
    background: linear-gradient(rgb(0, 255, 0), #1a522a);
}

.piece_type_dog_left, .piece_type_dog_left_2
{
    background: linear-gradient(rgb(255, 62, 62), #421111);
}

.piece_type_square, .piece_type_square_2
{
    background: linear-gradient(rgb(255, 255, 101), #5a591c);
}

.piece_type_tee, .piece_type_tee_2
{
    background: linear-gradient(rgb(139, 24, 139), #41132c);
}

.placed_block.placed_main
{
    background: linear-gradient(rgb(241, 241, 241), #565b5c);
}

#score
{
    margin-bottom: 0.8rem;
}

#score_text
{
    font-size: 1.7rem;
}

#info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

#info2
{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu
{
    cursor: pointer;
}

.cleared_piece
{
    background: linear-gradient(rgb(255, 255, 255), #4f7c86);
    box-shadow: 0 0 4px rgb(212, 218, 233); 
    animation: fade_out 250ms linear forwards;
}

#previews
{
    margin-bottom: 0.8rem;
}

.preview, #active_piece
{
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 2px rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.preview:last-child
{
    margin-bottom: 0;
}

#active_piece
{
    box-shadow: inset 0 0 30px rgb(204, 204, 204);
    position: relative;
}

#queued_left
{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 1rem;
    color: white;
    z-index: 999;;
}

.preview_element
{
    max-width: 80%;
    max-height: 80%;
}

.placed_main
{
    transition: top 500ms;
}

@keyframes fade_out 
{
    0% 
    {
        opacity: 1;
    }
    100% 
    {
        opacity: 0;
    }
}

#intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2D2B2C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    transition: opacity 1000ms;
}

#intro_image
{
    position: relative;
    max-width: 70%;
    max-height: 70%;
}

#intro_credits
{
    text-align: center;
    width: 20rem;
    font-size: 12px;
}

@keyframes blink
{
    0%{opacity:1}
    50%{opacity:0.2}
    80%{opacity:1}
}

#music
{
    display: none;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Msg-window
{
    background-color: #353535 !important;
    color: #cbcbcb !important;
}

.Msg-window-inner-x:hover
{
    background-color: #4d4d4d !important
}

#menu_container
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_item
{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.menu_item:last-child
{
    margin-bottom: 0;
}

.action
{
    transition: text-shadow 500ms, box-shadow 500ms
}

.action:hover
{
    text-shadow: 0 0 1em currentColor;
}

#options_container
{
    min-width: 14rem;
}

.options_number
{
    width: 4rem;
    text-align: center;
}

.options_number_big
{
    width: 8rem;
    text-align: center;
}

.options_checkbox
{
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.options_text
{
    width: 8rem;
    text-align: center;
}

.options_item
{
    margin-bottom: 2rem;
}

.options_item:last-child
{
    margin-bottom: 0;
}

.options_label
{
    margin-bottom: 0.5rem;
}

#options_reset_button
{
    cursor: pointer;
}

.horizontal_separator
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#help_container
{
    max-width: 28rem;
    font-size: 1.2rem;
}

.help_item
{
    margin-bottom: 1rem;
}

.help_item:last-child
{
    margin-bottom: 0;
}

.game_box
{
    position: absolute;
    font-size: 2rem;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    z-index: 999999;
    padding: 1rem;
}

#paused
{
    display: none;
}

#piece_picker
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    z-index: 999999;
    padding: 1rem;
    display: none;
    padding: 2rem;
}

#piece_picker_title
{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.7rem;    
}

#piece_picker_wheel
{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #2d2d2d;
    padding: 2rem;
    position: relative;
}

.piece_picker_wheel_item
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#game_over_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game_over_big
{
    font-size: 1.6rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

#game_over_buttons
{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.game_over_button
{
    cursor: pointer;
}

.Msg-titlebar, .titlebar_inner_x
{
    background-color: #585858 !important;
    color: #dfdfdf !important;
}

.pow_active
{
    box-shadow: 0 0 8px #ffffff;
}

select 
{
    text-align: center;
    text-align-last: center;
}

option 
{
    text-align: left;
}